# Optionally specify ISO-8601 start and end dates
# START="2020-01-01" # defaults to 1st January of current year
# END="2021-06-06" # defaults to current date

# Optionally, be kind to Ovo's API and sleep for a given number of seconds between requests
# INTERVAL=1 # defaults to 1

# Customer account, username and password
ACCOUNT="12345678" # Your account number - find this in your Ovo account information
USERNAME="username"
PASSWORD="password"